# folder
/.circleci 
/.github
/node_modules
/coverage
/.husky
/.config
/.parcel-cache
/codeForDoc
/.opensource
/.husky
/scripts
/src
/functions

# ignore file
.gitignore
.npmignore

# config file
jest.config.js
tsconfig.json
.eslintrc.js
.prettierrc.js
babel.config.js    
jest.config.doc.js
tsconfig.doc.json
lgtm.yml
tsconfig.prod.json
.parcelrc
**.rules.json
firebase.json
.firebaserc
.eslintignore

# env
env.json
.env
.firebaserc

# types
/types/**/*
!/types/**/*.ts
**/*.test.d.ts
**/*.test.js
**/*.tgz
**/*.log

# misc
CHANGELOG.md
package-lock.json
note.txt
CONTRIBUTING.md