name: Main
on: [push]
jobs:
  build_test:
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: '16.14'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - run: npm i
      - run: npm run lint --fix
      - run: npm run pretty-quick
      - run: npm test
        env:
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
      - run: npm run link
      - run: npm run e-tsc
      - run: npm run e-test
        env:
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
      - run: npm run build
      - uses: codecov/codecov-action@v2
  build_publish:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: '16.14'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
          registry-url: 'https://registry.npmjs.org'
      - run: npm i
      - run: npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm run p-reinstall
      - run: npm run p-test
        env:
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
